.static-txt {
    height: 90px;
    line-height: 90px;
}

.dynamic-txt {
    overflow: hidden;
    height: 90px;
    line-height: 90px;
}
.dynamic-txt li {
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100%{
    top: -360px;
  }
}

.dynamic-txt li span {
    position: relative;
    margin:5px 0;
    line-height: 90px;
}

.dynamic-txt li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #181818;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
