@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Extra CSS goes here */
}

/* Font */
@font-face {
  font-family: "Open Sans Bold";
  src: url("../../frontend/src/fonts/OpenSans/OpenSans-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../../frontend/src/fonts/OpenSans/OpenSans-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Medium";
  src: url("../../frontend/src/fonts/OpenSans/OpenSans-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans Light";
  src: url("../../frontend/src/fonts/NunitoSans/NunitoSans-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../../frontend/src/fonts/NunitoSans/NunitoSans-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans Medium";
  src: url("../../frontend/src/fonts/NunitoSans/NunitoSans-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans Roman";
  src: url("../../frontend/src/fonts/NunitoSans/NunitoSans-Regular.ttf");
  font-display: swap;
}
