@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* Extra CSS goes here */
}

/* Font */
@font-face {
  font-family: "Open Sans Bold";
  src: url("./fonts/OpenSans/OpenSans-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("./fonts/OpenSans/OpenSans-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Medium";
  src: url("./fonts/OpenSans/OpenSans-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans Light";
  src: url("./fonts/NunitoSans/NunitoSans-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("./fonts/NunitoSans/NunitoSans-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans Medium";
  src: url("./fonts/NunitoSans/NunitoSans-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans Roman";
  src: url("./fonts/NunitoSans/NunitoSans-Regular.ttf");
  font-display: swap;
}

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 20px;
  right: 30px;
  height: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}