.button {
	transition: all .2s ease-in-out;
	-webkit-appearance: none;
	border-radius: 100px;
	font-family: inherit;
	appearance: none;
	background: none;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
	padding: 20px;
	outline: none;
	opacity: 0.4;
	border: none;
	color: #181818;
}

.button:hover,
.button.active {
	opacity: 1;
}

.item {
	border-radius: 4px;
	height: 100px;
	padding: 8px;
	width: 288px;
	margin-bottom: 10px;
}

.item.c_pp {
	background: #06f;
}

.item.web {
	background: #181818;
}

.item.java {
	background: #8e9aa7;
}

.item.python {
	background: #fdc67e;
}

.item.mobile {
	background: #eb7676;
}

.hide {
	display: none;
}
